.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
    margin-left: -#{$padding};
  }

  &-item {
    margin-right: 24px - ($padding * 2);
    transition: color 200ms ease-in-out;

    &:hover,
    &.is-active {
      a {
        color: $blue;
      }
    }

    a {
      @include text-style(18, $primary);
      display: block;
      padding: $padding;
      font-weight: 700;
    }
  }
}
